.m-title{
    color:#6633ff;
    font-size: 68px;
    font-family: Consolas;
    text-align: center;
}
.m-title img{
    width: 50px;
}
.m-desc{
    text-align: center;
    color:#222;
}

.m-table{
    width:750px;
    margin:20px auto;
    background-color: #fafbfc;
}

.m-table td{
    border:1px solid #ddd;
    font-size: 42px;
    text-align: center;
    font-size: 42px;
    height: 250px;
}
.m-table input{
    border:none;
    width: 100%;
    height: 100%;
    background: none;
    font-size: 42px;
    text-align: center;
}

.m-table input:hover{
    background-color: #fdfdef;
}
.m-table input:focus{
    background-color: #fdfddc;
}

@media screen and (max-width:767px){
    body{
        font-size:1rem;
    }
    .m-table{
        width: 90%;
    }
    .m-table td{
        height: auto;
        font-size:2rem;
        line-height:2;
    }
    .m-table input{
        font-size: 2rem;
        text-align: center;
        line-height: 100px;
        height:100px;
    }
}